button {
  flex-basis: 48%;
  transition: all 0.2s ease;
}

button.start {
  padding: 10px;
  border: 0;
  background-color: black;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

div.questions {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #423a3a;
  color: white;
  text-align: center;
}