button {
  flex-basis: 48%;
  transition: all 0.2s ease;
}

button.start {
  padding: 1rem;
  border: 0;
  background-color: black;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.options {
  position: fixed;
  bottom: 0;
  width: 100%;
}