button {
    flex-basis: 48%;
    transition: all 0.2s ease;
}

button.start {
    padding: 1rem;
    border: 0;
    background-color: #27ae60;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.2);
}